* {
	font-family: Georgia, 'Times New Roman';
	background-color: ivory;
	text-align: justify;
	/** border: 1px solid red; **/
}

header {
	margin-bottom: 35px;
}

header p {
	text-align: center;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
}

main {
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	font-family: Garamond, Georgia, 'Times New Roman';
	text-align: center;
	margin-bottom: 5px;
	font-size: 35px;
	font-variant-caps: small-caps;
}

h2 {
	font-family: Garamond, Georgia, 'Times New Roman';
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 400;
	font-style: italic;
	font-size: 27px;
	color: hsl(4.41, 53.97%, 24.71%);
}

h3 {
	font-size: 20px;
	font-variant-caps: small-caps;
}

h4 {
	font-size: 17px;
	font-weight: 400;
	font-style: italic;
}

footer h4 {
	text-align: center;
	font-weight: 400;
	font-family: Garamond, Georgia, 'Times New Roman';
	font-style: italic;
	margin: 5px auto;
	width: 100%;
	color: hsl(4.41, 53.97%, 24.71%);
}

p {
	font-size: 17px;
	line-height: 1.25;
}

ul {
	list-style-type: circle;
	line-height: 1.35;
	text-align: left;
}

li {
	text-align: left;
}

footer {
	width: 100%;
	margin-top: 35px;
	position: sticky;
	bottom: 0px;
	z-index: 9;
}

footer ul {
	text-align: center;
	margin: 5px 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

footer li {
	font-size: 14px;
	display: inline-block;
	margin: auto 10px;
	text-align: center;
}

hr {
	color: hsl(244.41, 53.97%, 24.71%);
}

a {
	color: hsl(244.41, 53.97%, 24.71%);
}

a:visited {
	color: hsl(4.41, 53.97%, 24.71%);
}

.banner {
	width: 100%;
}

.contact-info {
	width: 100%;
}

.contact {
	margin-top: 0;
	margin-bottom: 0;
}

.skill-type {
	position: relative;
	left: 25px;
	color: hsl(4.41, 53.97%, 24.71%);
}

.social img {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px;
}

.social li {
	margin: 0 5px 5px 5px;
}

ul.social {
	margin: 0;
	padding: 0;
	height: 20px;
}

@supports (initial-letter: 2) {
	.initial::first-letter {
		initial-letter: 2;
		margin-right: 7px;
		color: hsl(4.41, 53.97%, 24.71%);
	}
}
